<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}" />
</head>
<body>
<h1>Book List</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="s : ${books}" th:class="${sStat.odd}? 'odd'">
        <td th:text="${s.title}">Default Title</td>
        <td th:text="${s.author}">Default Author</td>
        <td th:text="${s.year}">Default Year</td>
        <td th:text="${s.quantity}">Default Quantity</td>
    </tr>
</table>
<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>
</body>
</html>
